---
// Title
const { title } = Astro.props
// Description
const { description } = Astro.props
// Tags
const { tag1 } = Astro.props
const { tag2 } = Astro.props
const { tag3 } = Astro.props
const { tag4 } = Astro.props
// URLs
const { urlSite } = Astro.props
const { urlGit } = Astro.props
---

<section
  class="border-2 border-blue-400 border-opacity-70 w-96 lg:w-[600px] h-52 mt-10 rounded-xl min-[300px]:w-[350px] min-[300px]:ml-5 lg:ml-0"
>
  <header class="mt-5">
    <p class="text-light text-center text-xl 2xl:text-2xl">{title}</p>
    <div class="float-right mr-10 -mt-[40px]">
      <a href={urlSite} target="_blank">
        <svg
          class="fill-light w-6 hover:fill-blue-400"
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewBox="0 0 50 50"
        >
          <path
            d="M 33.40625 0 C 32.855469 0.0507813 32.449219 0.542969 32.5 1.09375 C 32.550781 1.644531 33.042969 2.050781 33.59375 2 L 46.5625 2 L 25.6875 22.90625 C 25.390625 23.148438 25.253906 23.535156 25.339844 23.910156 C 25.425781 24.28125 25.71875 24.574219 26.089844 24.660156 C 26.464844 24.746094 26.851563 24.609375 27.09375 24.3125 L 48 3.4375 L 48 16.40625 C 47.996094 16.765625 48.183594 17.101563 48.496094 17.285156 C 48.808594 17.464844 49.191406 17.464844 49.503906 17.285156 C 49.816406 17.101563 50.003906 16.765625 50 16.40625 L 50 0 L 33.59375 0 C 33.5625 0 33.53125 0 33.5 0 C 33.46875 0 33.4375 0 33.40625 0 Z M 2 10 C 1.476563 10 0.941406 10.183594 0.5625 10.5625 C 0.183594 10.941406 0 11.476563 0 12 L 0 48 C 0 48.523438 0.183594 49.058594 0.5625 49.4375 C 0.941406 49.816406 1.476563 50 2 50 L 38 50 C 38.523438 50 39.058594 49.816406 39.4375 49.4375 C 39.816406 49.058594 40 48.523438 40 48 L 40 18 C 40.003906 17.640625 39.816406 17.304688 39.503906 17.121094 C 39.191406 16.941406 38.808594 16.941406 38.496094 17.121094 C 38.183594 17.304688 37.996094 17.640625 38 18 L 38 48 L 2 48 L 2 12 L 32 12 C 32.359375 12.003906 32.695313 11.816406 32.878906 11.503906 C 33.058594 11.191406 33.058594 10.808594 32.878906 10.496094 C 32.695313 10.183594 32.359375 9.996094 32 10 Z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="float-left ml-10 -mt-7">
      <a href={urlGit} target="_blank">
        <svg
          class="hover:text-blue-400 transition-all"
          width="27"
          height="27"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#E8E8E8"
          name="Github"
          ><path
            d="M16 22.027v-2.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7a5.44 5.44 0 00-1.5-3.75 5.07 5.07 0 00-.09-3.77s-1.18-.35-3.91 1.48a13.38 13.38 0 00-7 0c-2.73-1.83-3.91-1.48-3.91-1.48A5.07 5.07 0 005 5.797a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7a3.37 3.37 0 00-.94 2.58v2.87M9 20.027c-3 .973-5.5 0-7-3"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </header>
  <footer class="mt-8">
    <p class="text-light text-center text-opacity-60 2xl:text-lg">
      {description}
    </p>
    <ul class="flex place-content-center mt-3">
      <li
        class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2"
      >
        {tag1}
      </li>
      <li
        class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2"
      >
        {tag2}
      </li>
      <li
        class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2"
      >
        {tag3}
      </li>
      <li
        class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2"
      >
        {tag4}
      </li>
    </ul>
  </footer>
</section>
