---
const { title } = Astro.props;
const { description } = Astro.props;
const { tag1 } = Astro.props
const { tag2 } = Astro.props
const { tag3 } = Astro.props
const { tag4 } = Astro.props
---

<section class="border-2 border-blue-400 w-96 2xl:w-[900px] h-52 mt-10 rounded-xl">
    <header class="mt-5">
        <p class="text-light text-center text-xl 2xl:text-2xl">{title}</p>
    </header>
    <footer class="mt-8">
        <p class="text-light text-center text-opacity-60 2xl:text-lg">{description}</p>
        <ul class="flex place-content-center mt-3">
            <li class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2">{tag1}</li>
            <li class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2">{tag2}</li>
            <li class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2">{tag3}</li>
            <li class="text-light border-2 border-light border-opacity-20 p-1 rounded-lg text-sm ml-2">{tag4}</li>
        </ul>
    </footer>
</section>